* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 2000px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  font-size: 1.3em;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 1000;
  transition: 0.6s;
}

header.sticky {
  padding: 3px 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo img {
  position: relative;
  width: 100px;
  height: 100px;
}

header.sticky ul li a,
header.sticky a {
  color: #000;
}

header ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}

header .login {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./Assets/NGO_banner.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: #fff;
  font-size: 90px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.sec {
  background-color: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.nitro1 {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
}

.services {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.services .box {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.services .box .iconBx {
  margin-top: 25px;
}

.services .box .iconBx img {
  margin-bottom: 15px;
}

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.stats {
  background-color: #000;
  padding-top: 250px;
  margin-top: -250px;
}

.stats h3,
.stats p {
  color: #fff;
}

.statsBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.statsBox h2 {
  color: #fff;
  font-size: 36px;
}

.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* client */
.clientss {
  width: 100%;
  text-align: center;
  background-color: rgb(252, 249, 106);
}

.clContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 30px;
  margin-top: -80px;
}

.clContainer .clCard {
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  margin-inline: 80px;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.clContainer .clCard:hover {
  height: 500px;
}

.clContainer .clCard .clImgBx {
  position: relative;
  width: 230px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.clContainer .clCard .clImgBx img {
  margin: auto;
  width: 220px;
  height: 220px;
  border-radius: 4px;
}

.clContainer .clCard .clContent {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.clContainer .clCard:hover .clContent {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.2s;
}

.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.teamBx .member {
  position: relative;
  background-color: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.2s;
  opacity: 0;
}

.teamBx .member:hover .details {
  opacity: 1;
}

.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.contact {
  background-color: #000;
}

.contact h3,
.contact p {
  color: #fff;
}

.contactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.contactForm form {
  width: 100%;
}

.contactForm .row100 {
  display: flex;
  width: 100%;
}

.contactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}

.contactForm .row100 textarea {
  height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
  background-color: #fff;
  color: #000;
  max-width: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.sci ul {
  display: flex;
}

.sci ul li {
  list-style: none;
}

.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}

.sci ul li a img {
  filter: invert(1);
  max-width: 40px;
}

.sci ul li a:hover img {
  opacity: 0.5;
}

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .login {
    display: none;
  }
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
  }

  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1;
    transition: 0.5s;
  }

  header {
    padding: 5px 50px;
    background: #fff;
  }

  header ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 5px 0;
    font-size: 20px;
  }

  header .logo,
  header ul li a {
    color: #000;
  }
}
