* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  font-size: 1.3em;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 1000;
  transition: 0.6s;
  background-color: #fff;
}

header.sticky {
  padding: 3px 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo img {
  position: relative;
  width: 100px;
  height: 100px;
}

header.sticky ul li a,
header.sticky a {
  color: #000;
}

header ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}

header .login {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.toggle {
  display: none;
}

@media (max-width: 992px) {
  .login {
    display: none;
  }
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
  }

  .toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1;
    transition: 0.5s;
  }

  header {
    padding: 5px 50px;
    background: #fff;
  }

  header ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 5px 0;
    font-size: 20px;
  }

  header .logo,
  header ul li a {
    color: #000;
  }
}
.sec {
  background-color: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}
.content {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.data {
  width: 40%;
  color: #5e443a;
  font-size: 18px;
}
.data p {
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 15px;
}
.data p span {
  font-weight: 700;
}
.data p a {
  color: #5e443a;
}
.data p a:hover {
  text-decoration: underline;
}
.pic {
  text-align: start;
  width: 40%;
}
.pic img {
  width: 90%;
  height: 400px;
  object-fit: cover;
}
.feedback {
  margin-bottom: 50px;
}
.appointment {
  width: 80%;
  margin: auto;
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 0.2);
  margin-top: 30px;
  color: #351e15;
}
.appointment h1 {
  font-weight: 200;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.logo1 {
  text-align: center;
}
.appointment .logo1 img {
  width: 100px;
  height: 100px;
}
.appointment h1 {
  margin-top: 10px;
  font-size: 50px;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: center;
}
.row input {
  width: 40%;
  padding: 20px;
  margin: 10px;
  margin-top: 50px;
  height: 10px;
  font-size: 20px;
}
::placeholder {
  opacity: 1;
}
.message {
  display: flex;
  justify-content: center;
}
.message input {
  font-size: 20px;
  margin-top: 40px;
  width: 90%;
  height: 100px;
  padding-left: 10px;
}
.appointment button {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  font-size: 20px;
  padding: 10px 5% 10px 5%;
  font-weight: 600;
  color: #351e15;
}
.appointment button:hover {
  box-shadow: 0px 2px 2px black;
}
@media only screen and (max-width: 860px) {
  .nav {
    display: none;
  }
  .content {
    align-items: center;
    flex-direction: column-reverse;
  }
  .data {
    width: 80%;
    font-size: 15px;
  }
  .pic {
    width: 80%;
    margin-bottom: 30px;
  }
  .appointment h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .appointment h1 {
    font-size: 25px;
  }
  .data {
    font-size: 12px;
  }
  .row input {
    font-size: 15px;
  }
  .message input {
    font-size: 15px;
  }
}
